body {
    background-color: rgb(184, 217, 247);
    font-family: Arial, sans-serif;
    font-size: 16pt;
    color: rgb(68, 42, 42);
    text-align: left;
}
.rac1 {
    background-image: url("../image/rac1.jpg");
    flex-grow: 1;
    align-self: flex-end;
}
.rac2 {
    background-image: url("../image/rac2.jpg");
    flex-grow: 1;

}
.rac3 {
    order: 43;
    align-self: flex-start;
    flex-grow: 5;
    background-image: url("../image/rac3.jpg");
} 
.animal{
    min-height:200px;
    min-width: 200px;
    margin: 10px

}
.flex-box{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    height: 600px;
    border: 2px solid #000000;

}

