body{
    background-color: rgb(184, 217, 247);
    font-family: Arial, sans-serif;
    font-size: 16pt;
    color: rgb(68, 42, 42);
    text-align: left;
}
.main-menu {
    position: absolute;
    width: 30%;
    height:100%;
    padding:10px;
    padding-left: 30px;
    background-color: coral;
    list-style: none;

    left:-100%;
    visibility:hidden;
    transition-duration:0.5s;
}
#ham-check{
    opacity:0;
}
.ham-button{
    display:block;
    position: relative;
    width:30px;
    height: 30px;
}
.ham-button>span::after,
.ham-button>span::before,
.ham-button>span{
    display:block;
    position:absolute;
    width:30px;
    height: 6px;
    background-color:darkcyan;
}
.ham-button > span::before{
    top:-10px;
    content:"";

}
.ham-button > span::after{
    top:10px;
    content:"";

}
#ham-check:checked ~ .main-menu{
    left:0;
    visibility:visible;
    transition-duration:0.5s;

}
