body{
    background-color: rgb(184, 217, 247);
    font-family: Arial, sans-serif;
    font-size: 16pt;
    color: rgb(68, 42, 42);
    text-align: left;
}
.grid-container{
    display:grid;
    grid-template-columns: 200px 30% 300px;
/*    grid-template-rows:;*/
    border: 2px solid red;
    grid-gap: 10px;
    padding: 10px;
}
.flex {
    height: 200px;
    border: 2px solid blue;
}
.scale {
    border: 2px solid green;
/*  grid-row-start: 2;
     grid-row-end: 4;
    */
    height: auto;
    grid-column-end: 4;
    grid-column-start: 1;
}

