body {
    background-color: #FBFFB8;
    font-family: Arial, sans-serif;
    font-size: 18pt;
    color: rgb(68, 42, 42);
}
.sd{
  display: block;
}
h1 {
    text-align: center;
    
}
table {
   S
}
form {
    background-color: #F9FF8A
}
.s1 {
    font-size: 10pt;
}
form{ 
  border: 2px solid black;
  width: 55%;
  margin: 0 auto;
  padding: 30px;
 
}
textarea {
    resize: none;
}
